<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data User</h3>

                <div class="card-tools">
                    <button class="btn btn-success openModal" data-type="add">Add </button>
                    {{!-- data-toggle="modal" data-target="#modalAdd" --}}
                </div>
            </div>
            <div class="card-body">
                {{> message}}
                <div class="table-responsive ">
                    <table class="table table-bordered table-striped table-hover users-table mb-2">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Handphone</th>
                                <th>Is Active</th>
                                <th>#</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
{{> datatable}}
<!-- /.content-wrapper -->
{{!-- modal --}}
<div id="modalSection">
    <div id="form"></div>
</div>
{{!-- end modal --}}

<script>
    {{!-- $("#btnAdd").on('click',()=>{
        $("#form").load('/users/modalAdd',()=>{
            $("#modalForm").modal("show");
        });
    });
    $(".btnEdit").on('click',()=>{
        console.log("edit");
        const id = $(this).data('id');
        alert(id);
    }) --}}
    $(document).on('click','.openModal',function(){
        const type = $(this).data('type');
        if(type=='add'){
            $("#form").load('/users/add',()=>{
                $("#modalForm").modal("show");
            });            
        }else if(type=='edit'){
            const url = $(this).data('id');
            $("#form").load(url,()=>{
                $("#modalForm").modal("show");
            }); 
        }else if(type=='delete'){
            const url = $(this).data('id');
            $("#form").load(url,()=>{
                $("#modalForm").modal("show");
            }); 
        }
    });
    $(".users-table").DataTable({
        scrollY: 400,
        processing: true,
        serverSide: true,
        ajax: {
            url: "/users/data"
        },"columnDefs": [
            {
                "targets": [ -1 ],
                "orderable": false,
                "searchable":false,
            },
        ]
    });
</script>